* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    border: 0;
}

h1, a, p {
    color: white;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.child-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.parent-container {
    border-radius: 15px;
    height: 350px;
    width: 300px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    font-size: 15px;
    border-radius: 7px;
}

button {
    margin: 10px 0;
    border-radius: 7px;
    width: 100%;
    padding: 2%;
    font-size: large;
    cursor: pointer;
}