body {
    background-image: url("Space-bg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}
.div-centered {
    vertical-align: middle;
    background-color: rgba(1, 4, 47, 0.511);
    border-radius: 5vh;
    border: 3px solid white;
    min-height: 50vh;
    min-width: 50vh;
    max-width: 70vh;
    max-height: 70vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
}

form {
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 10px;
    height: 4vh;
    width: 30vh;
}
label {
    font-size: 4vh;
}

button {
    margin-top: 10px;
    border-radius: 5vh;
    border: 3px solid white;
    background-color: white;
    width: 50%;
    height: 50%;
    font-family: Helvetica, sans-serif;
    font-size: 3vh;
}

p, a {
    color: inherit;
    font-size: 2vh;
}